body{
    background-image: url(pink_rice.png);
     }
     #wrapper{
      width: 875px;
      margin-right: auto;
      margin-left: auto;
     }
     .tabel {
     margin-left:20px;
     width: 700x;
     padding: 10px;
     border-radius: 12px;
     border: 3px solid rgb(0,0,51);
     }
     #judul{
     background-color: rgb(245, 163, 176);
     padding: 1em;
     text-align: center;
     }
     #title {
     width: 550px;
     margin: 0px 10px;
     padding-top: 1px;
     font-size: 18px;
     }
     table{
     background-color: rgb(200,200,200);
     }
     td{
     border: rgb(192,192,192);
     font-weight: bold;
     }